{% comment %}/*
api.title = {{ api.title }}
api.version = {{ api.version }}
api.revision = {{ api.revision }}
api.name = {{ api.name }}
api.module.name = {{ api.module.name }}
api.classname = {{ api.className }}
*/
{% endcomment %}using System;
using System.Collections;
using System.Collections.Generic;
using System.Linq;
using System.Management.Automation;

using {{ api.module.name }};
using {{ api.module.name }}.Data;

using g{{ api.className }} = gShell.dotNet.{{ api.className }};

namespace gShell.Cmdlets.{{ api.className }}
{
    public abstract class {{ api.className }}ServiceAccountBase : {{ api.className }}Base
    {
        #region Properties
        [Parameter(Mandatory = false)]
        [ValidateNotNullOrEmpty]
        public string aTargetUserEmail { get; set; }
        #endregion

        protected override void BeginProcessing()
        {
            gShellServiceAccount = aTargetUserEmail;

            base.BeginProcessing();
        }
    }

    {% for schema in api.posh_schemas %}{% call_template _posh_schema schema=schema %}{% endfor %}
}




{% comment %}
#region template
{% for resource in api.resources %}
//resource.codename = {{resource.codeName}}
//parentChain = {{ resource.parentResourceChain }}
{% for method in resource.methods %}
    //method.codeName = {{method.codeName}}{% endfor %}
{% for subr in resource.resources %}
    //subr.codename = {{subr.codeName}}
    //parentChain = {{ subr.parentResourceChain }}
    {% for method in subr.methods %}
        //method.codeName = {{method.codeName}}{% endfor %}
{% endfor %}{% endfor %}
#endregion
{% endcomment %}
{% for resource in api.resources %}{% call_template _posh_resource resource=resource %}{% endfor %}