using System;
using System.Collections;
using System.Collections.Generic;
using System.Linq;
using System.Management.Automation;

using {{ api.module.name }};
using {{ api.module.name }}.Data;

using g{{ api.className }} = gShell.dotNet.{{ api.className }};

namespace gShell.Cmdlets.{{ api.className }}
{
    /// <summary>A base class which provides support for service account integration and schema objects.</summary>
    public abstract class {{ api.className }}ServiceAccountBase : {{ api.className }}Base
    {
        #region Properties

        /// <summary>
        /// <para type="description">The email account to be targeted by the service account.</para>
        /// </summary>
        [Parameter(Mandatory = false)]
        [ValidateNotNullOrEmpty]
        public string TargetUserEmail { get; set; }
        #endregion

        protected override void BeginProcessing()
        {
            gShellServiceAccount = TargetUserEmail;

            base.BeginProcessing();
        }
    }

    {% for schema in api.posh_schemas %}{% call_template _posh_schema schema=schema %}{% endfor %}
}

{% for resource in api.resources %}{% call_template _posh_resource resource=resource %}{% endfor %}