
#region {{ resource.className }}

public class {{ resource.className }}
{{% indent %}
{% if resource.resources|length > 0 %}{% noblank %}
{% for subr in resource.resources %}{% eol %}public {{ subr.className }} {{ subr.codeName }}{ get; set; }{% endfor %}
{% endnoblank %}

public {{ resource.className }}() //public Reports()
{{% indent %}
{% for subr in resource.resources %}{% eol %}{{ subr.codeName }} = new {{ subr.className }}();{% endfor %}
{% endindent %}}{% endif %}
{% for subr in resource.resources %}{% call_template _gshell_cmdlet_wrappedMethods resource=subr %}{% endfor %}
{% for method in resource.methods %}
{% if method.isPageable %}
public List<{{ api.module.name }}.Data.{{ method.finalReturnType }}> {{ method.className }}({% call_template _gshell_dotnet_methodparams method=method showCustomProperties=True fullNamespace=True %})
{{% indent %}
{% if method.optionalParameters|length > 0 %}
properties = (properties != null) ? properties : new g{{ api.className }}.{{ resource.parentResourceChain }}{{ resource.className }}.{{ resource.className }}{{ method.className }}Properties();
{% if method.hasMaxResultsParameter %}properties.startProgressBar = StartProgressBar;
properties.updateProgressBar = UpdateProgressBar;{% endif %}
{% endif %}
return mainBase.{{ resource.parentResourceChainLower }}{{ resource.codeName }}.{{ method.className }}({% call_template _gshell_dotnet_methodparams method=method hideTypes=True %}{% if method.requiredParameters|length > 0 %}, {% endif %}{% if method.optionalParameters|length > 0 %}properties{% endif %});
{% endindent %}}
{% else %} {# not pageable #}
public {% if method.finalReturnType %}{{ api.module.name }}.Data.{{ method.finalReturnType }}{% else %}void{% endif %} {{ method.className }} ({% call_template _gshell_dotnet_methodparams method=method showCustomProperties=True fullNamespace=True %})
{{% indent %}
{% if method.optionalParameters|length > 0 %}
properties = (properties != null) ? properties : new g{{ api.className }}.{{ resource.parentResourceChain }}{{ resource.className }}.{{ resource.className }}{{ method.className }}Properties();
{% endif %}
{% if method.finalReturnType %}return {% endif %}mainBase.{{ resource.parentResourceChainLower }}{{ resource.codeName }}.{{ method.className }}({% call_template _gshell_dotnet_methodparams method=method hideTypes=True %}{% if method.optionalParameters|length > 0 %}, properties{% endif %});
{% endindent %}}
{% endif %}{% endfor %}{% endindent %}}

#endregion